
<% provide(:variable,"Home") %>

<div class="center jumbotron">

  <h2> Hackathons for the year 2015</h2>

  <button  class="btn btn-lg btn-success" id="button-click"> click Here</button>

</div>

<table class="parent" id="table" border="1" style="width:50%" value="a"></table>


